:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #e0feff;
  --main-text-color: #13287c;
  --main-text-color-light: #3c4d8d;
  --secondary-text-color: #cd2824;
}

* {
  margin: 0;
  padding: 0;
  font-family: serif sans-serif, Arial;
}
body {
  background: var(--main-bg-color);
}

/* Ladder Navigation */
#leaderboard {
  padding: 50px;
}

#rankings {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.ladder-nav,
.btn-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 25px;
  border-radius: 10px;
}

.ladder-title {
  flex: 2;
  text-align: center;
  font-size: 20px;
  color: var(--secondary-text-color);
  font-weight: bold;
  text-transform: uppercase;
}
/* /end Ladder Navigation */

/* Leaderboard Results */
.leaderboard-results {
  text-align: left;
  border-collapse: collapse;
}
.leaderboard-results thead th {
  padding: 25px;
  color: var(--main-text-color-light);
  font-size: 14px;
  font-weight: bold;
}

.driver-results tbody td {
  height: 100px;
}

.leaderboard-results tbody td {
  padding: 15px 25px;
}

.leaderboard-results tbody tr {
  height: 65px;
  font-size: 16px;
  font-weight: bold;
  color: var(--main-text-color);
  background: linear-gradient(
    65deg,
    var(--main-bg-color),
    10%,
    var(--secondary-bg-color)
  );
  border-left: 3px solid var(--secondary-text-color);
  border-bottom: 5px solid var(--main-bg-color);
}

.leaderboard-results tbody tr:first-child {
  height: 100px;
  font-weight: bold;
  font-size: 20px;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}
a:hover {
  color: var(--main-text-color-light);
  text-decoration: none;
}

.btn-backTo {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  border: 2px solid var(--secondary-text-color);
  flex: 1;
  text-align: center;
  font-size: 18px;
  color: var(--main-text-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
/* /end Leaderboard Results */
