:root {
  --main-bg-color: #f7f7f7;
  --main-bg-color-light: #ffffff;
  --secondary-bg-color: #41d3d8;
  --main-text-color: #13287c;
  --main-text-color-light: #3c4d8d;
  --second-text-color-light: #8291c4;
  --secondary-text-color: #cd2824;
  --data-text-color: #575757;
}

* {
  margin: 0;
  padding: 0;
  font-family: serif sans-serif, Arial;
}
body {
  background: var(--main-bg-color);
}

/* Ladder Navigation */
#leaderboard {
  padding: 50px;
}

#rankings {
  width: 95%;
  max-width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.ladder-nav,
.btn-bar {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
}

.ladder-title {
  flex: 2;
  text-align: center;
  font-size: 1.8rem;
  color: var(--main-text-color);
  font-weight: bold;
  text-transform: uppercase;
}
/* /end Ladder Navigation */

/* Leaderboard Results */
.leaderboard-results {
  text-align: left;
  border-collapse: collapse;
}
.leaderboard-results thead th {
  padding: 1.8rem;
  color: var(--main-text-color-light);
  font-size: 1rem;
  font-weight: bold;
}

.driver-results tbody td {
  height: 3rem;
}

.leaderboard-results tbody td {
  padding: 1.2rem;
}

.leaderboard-results tbody tr {
  height: 4rem;
  font-weight: bold;
  color: var(--main-text-color);
  background: linear-gradient(
    65deg,
    var(--main-bg-color),
    10%,
    var(--secondary-bg-color)
  );
  border-left: 3px solid var(--secondary-text-color);
  border-bottom: 5px solid var(--main-bg-color);
}

.leaderboard-results.main tbody tr:first-child {
  height: 7.6rem;
  font-weight: bold;
}

.leaderboard-results.main tbody tr:nth-child(2) {
  height: 7rem;
  font-weight: bold;
}

.leaderboard-results.main tbody tr:first-child .row-value {
  font-size: 2rem;
}

.leaderboard-results.main tbody tr:nth-child(2) .row-value {
  font-size: 1.7rem;
}

.row-title {
  text-align: center;
  font-size: 0.75rem;
  color: var(--main-text-color-light);
}

.row-value {
  font-size: 1.3rem;
  text-align: center;
}

.btn-backTo {
  text-decoration: none;
  background-color: var(--main-bg-color-light);
  border-radius: 15px;
  border: 2px solid var(--secondary-text-color);
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
  color: var(--main-text-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

.btn-seeRace {
  text-decoration: none;
  background-color: var(--main-bg-color);
  border-radius: 15px;
  border: 2px solid var(--secondary-text-color);
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
  color: var(--secondary-text-color);
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px;
  margin: 3%;
}

.driver-info {
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.driver-data {
  align-items: center;
  color: var(--data-text-color);
  display: inline-flex;
  font-family: DBScreenSans-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 0;
  margin-right: 2.4rem;
}
.no-participations {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.flex {
  flex-direction: column;
  align-items: center;
}

.helmet {
  height: 1.6rem;
  width: 1.6rem;
}

.inline {
  display: inline;
}
/* /end Leaderboard Results */
